<div class="d-flex flex-column justify-content-center align-items-center fail">
  <h1 class="">USER ERROR LOGIN</h1>
  <button class="btn btn-info"type="submit"id="fail" onclick="location.href='login';">Volver</button>
</div> 



<script src="/js/loginFail.js"></script>